TwitterToKafka.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>b7f03a98-9fe8-1ddc-01a3-cdb53141e530</groupId>
    <name>TwitterToKafka</name>
    <snippet>
        <connections>
            <id>b0a9ba2d-9947-368a-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <versionedComponentId>b0a9ba2d-9947-368a-b3e0-cbb0999992a9</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>f52f8372-9c03-3c91-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>f52f8372-9c03-3c91-b32c-d81fe0b729de</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>1ef5d4ae-89f0-3b22-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1ef5d4ae-89f0-3b22-b92a-972963f10d2e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b140e938-1a5d-3609-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>50000</backPressureObjectThreshold>
            <destination>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>7fc61e9f-9168-34d2-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>1ef5d4ae-89f0-3b22-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1ef5d4ae-89f0-3b22-b92a-972963f10d2e</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b915c4e6-09d7-322b-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <versionedComponentId>b915c4e6-09d7-322b-b7c6-0ac28ca2fe0c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>1ef5d4ae-89f0-3b22-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1ef5d4ae-89f0-3b22-b92a-972963f10d2e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>c998fd94-56d5-3b37-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c998fd94-56d5-3b37-90a3-9d5b589f17d9</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d308c728-b25e-3c16-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <versionedComponentId>d308c728-b25e-3c16-abfb-212bb089f601</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>1ef5d4ae-89f0-3b22-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1ef5d4ae-89f0-3b22-b92a-972963f10d2e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>9a8c7882-a89f-37c0-0000-000000000000</groupId>
                <id>78240599-d218-3bef-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>78240599-d218-3bef-8f91-a79165f64315</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>2148468c-5802-3fef-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <versionedComponentId>2148468c-5802-3fef-be9f-56a224f72af2</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>2e878ea0-d877-3d2c-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <versionedComponentId>2e878ea0-d877-3d2c-86eb-382bf5e6eb57</versionedComponentId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <outputPorts>
            <id>f52f8372-9c03-3c91-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <position>
                <x>515.7370833558261</x>
                <y>511.5037832618518</y>
            </position>
            <versionedComponentId>f52f8372-9c03-3c91-b32c-d81fe0b729de</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>Tweets Out</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
            <id>1ef5d4ae-89f0-3b22-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <position>
                <x>455.4062367942088</x>
                <y>230.1409026960289</y>
            </position>
            <versionedComponentId>1ef5d4ae-89f0-3b22-b92a-972963f10d2e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>coordinates</key>
                        <value>
                            <name>coordinates</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ext_media</key>
                        <value>
                            <name>ext_media</name>
                        </value>
                    </entry>
                    <entry>
                        <key>favourites_count</key>
                        <value>
                            <name>favourites_count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>followers_count</key>
                        <value>
                            <name>followers_count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>friends_count</key>
                        <value>
                            <name>friends_count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>geo</key>
                        <value>
                            <name>geo</name>
                        </value>
                    </entry>
                    <entry>
                        <key>handle</key>
                        <value>
                            <name>handle</name>
                        </value>
                    </entry>
                    <entry>
                        <key>hashtags</key>
                        <value>
                            <name>hashtags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>language</key>
                        <value>
                            <name>language</name>
                        </value>
                    </entry>
                    <entry>
                        <key>listed_count</key>
                        <value>
                            <name>listed_count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>
                            <name>location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>media_url</key>
                        <value>
                            <name>media_url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>msg</key>
                        <value>
                            <name>msg</name>
                        </value>
                    </entry>
                    <entry>
                        <key>place</key>
                        <value>
                            <name>place</name>
                        </value>
                    </entry>
                    <entry>
                        <key>profile_image_url</key>
                        <value>
                            <name>profile_image_url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>retweet_count</key>
                        <value>
                            <name>retweet_count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>
                            <name>source</name>
                        </value>
                    </entry>
                    <entry>
                        <key>statuses_count</key>
                        <value>
                            <name>statuses_count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>time</key>
                        <value>
                            <name>time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>time_zone</key>
                        <value>
                            <name>time_zone</name>
                        </value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>
                            <name>timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tweet_id</key>
                        <value>
                            <name>tweet_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>unixtime</key>
                        <value>
                            <name>unixtime</name>
                        </value>
                    </entry>
                    <entry>
                        <key>urls</key>
                        <value>
                            <name>urls</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user_description</key>
                        <value>
                            <name>user_description</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user_mentions</key>
                        <value>
                            <name>user_mentions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user_mentions_name</key>
                        <value>
                            <name>user_mentions_name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user_name</key>
                        <value>
                            <name>user_name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>user_url</key>
                        <value>
                            <name>user_url</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>coordinates</key>
                        <value>$.coordinates</value>
                    </entry>
                    <entry>
                        <key>ext_media</key>
                        <value>$.extended_entities.media[*].media_url</value>
                    </entry>
                    <entry>
                        <key>favourites_count</key>
                        <value>$.user.favourites_count</value>
                    </entry>
                    <entry>
                        <key>followers_count</key>
                        <value>$.user.followers_count</value>
                    </entry>
                    <entry>
                        <key>friends_count</key>
                        <value>$.user.friends_count</value>
                    </entry>
                    <entry>
                        <key>geo</key>
                        <value>$.geo</value>
                    </entry>
                    <entry>
                        <key>handle</key>
                        <value>$.user.screen_name</value>
                    </entry>
                    <entry>
                        <key>hashtags</key>
                        <value>$.entities.hashtags[*].text</value>
                    </entry>
                    <entry>
                        <key>language</key>
                        <value>$.lang</value>
                    </entry>
                    <entry>
                        <key>listed_count</key>
                        <value>$.user.listed_count</value>
                    </entry>
                    <entry>
                        <key>location</key>
                        <value>$.user.location</value>
                    </entry>
                    <entry>
                        <key>media_url</key>
                        <value>$.entities.media[*].media_url</value>
                    </entry>
                    <entry>
                        <key>msg</key>
                        <value>$.text</value>
                    </entry>
                    <entry>
                        <key>place</key>
                        <value>$.place.full_name</value>
                    </entry>
                    <entry>
                        <key>profile_image_url</key>
                        <value>$.user.profile_image_url</value>
                    </entry>
                    <entry>
                        <key>retweet_count</key>
                        <value>$.retweet_count</value>
                    </entry>
                    <entry>
                        <key>source</key>
                        <value>$.source</value>
                    </entry>
                    <entry>
                        <key>statuses_count</key>
                        <value>$.user.statuses_count</value>
                    </entry>
                    <entry>
                        <key>time</key>
                        <value>$.created_at</value>
                    </entry>
                    <entry>
                        <key>time_zone</key>
                        <value>$.user.time_zone</value>
                    </entry>
                    <entry>
                        <key>timestamp</key>
                        <value>$.timestamp_ms</value>
                    </entry>
                    <entry>
                        <key>tweet_id</key>
                        <value>$.id</value>
                    </entry>
                    <entry>
                        <key>unixtime</key>
                        <value>$.timestamp_ms</value>
                    </entry>
                    <entry>
                        <key>urls</key>
                        <value>$.urls[*].url</value>
                    </entry>
                    <entry>
                        <key>user_description</key>
                        <value>$.user.description</value>
                    </entry>
                    <entry>
                        <key>user_mentions</key>
                        <value>$.user_mentions[*].screen_name</value>
                    </entry>
                    <entry>
                        <key>user_mentions_name</key>
                        <value>$.user_mentions[*].name</value>
                    </entry>
                    <entry>
                        <key>user_name</key>
                        <value>$.user.name</value>
                    </entry>
                    <entry>
                        <key>user_url</key>
                        <value>$.user.url</value>
                    </entry>
                </properties>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Extract Social Attributes</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>78240599-d218-3bef-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <position>
                <x>678.9146843682101</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>78240599-d218-3bef-8f91-a79165f64315</versionedComponentId>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Filter Endpoint</value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>en</value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>hadoop,hortonworks,tensorflow,hbase,apachemxnet,apachenifi,cloudera,tika,opennlp,impala,kafka,kafkastreams,flink,sparkstreaming</value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Twitter Social Big Data Terms</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
        <processors>
            <id>7fc61e9f-9168-34d2-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>442.4042478390602</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-key-field</key>
                        <value>
                            <name>message-key-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>edge2ai-1.dim.local:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>tweets</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>2e878ea0-d877-3d2c-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>2148468c-5802-3fef-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>message-key-field</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafkaRecord_2_0</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
        </processors>
        <processors>
            <id>c998fd94-56d5-3b37-0000-000000000000</id>
            <parentGroupId>9a8c7882-a89f-37c0-0000-000000000000</parentGroupId>
            <position>
                <x>220.10849281341507</x>
                <y>7.816649539074092</y>
            </position>
            <versionedComponentId>c998fd94-56d5-3b37-90a3-9d5b589f17d9</versionedComponentId>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Filter Endpoint</value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>en</value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>#Hortonworks,#StrataData,StrataData,@strataconf,@DataWorksSummit,@Hortonworks,dws19,#DWS19,DWS19,DataWorksSummit,#DataWorksSummit,#Cloudera,@Cloudera,@ApacheNiFi,#ApacheNiFi,#WithLoveCloudera,@mickhollison,@acmurthy</value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Strata NYC 2019</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
    </snippet>
    <timestamp>10/08/2019 14:45:16 EDT</timestamp>
</template>
